html {
	background: url(assets/bck-img.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 10vw 2em;
	max-width: none;
	display: block;
}

header {
	margin: 0;
}