/* 
CSS

/* External Font from Google Fonts: Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	margin: 0 auto;
	//background: #FFFFCC;
}

/* Content Font Style */
body {
	color: #555; /* Lighter shade of black */
	font: normal 100% "Raleway", sans-serif, Arial;
	font-style: normal;
	font-weight: 300;
}

/* Content Text Spacing */
body {
	line-height: 1.5;
	padding: 0;
}

/* Differentiate Sections? */
.background-white {
	background: #ffffff;
}

/* Main Content Body Style */
main {
	display: block;
	max-width: 100%;
}

strong {
	font-size: 1em;
	font-weight: 2em;
}

h1 {
	text-align: center;
}

h2, h3 {
	font-size: 1.5em;
	color: #334633;
}

h5 {
	font-weight: bold;
}

i {
	margin: 0 auto;
}

.content {
	display: block;
}

header {
	min-width: 300px;
	max-width: 100%;
	position: relative;
	top: 20%;
	padding: 0em 1.25em 4em 1.25em;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
	text-align: center;
	text-shadow: 1px 1px #555;
}

#landing header #name {
	margin-top: 1.25em;
	margin-bottom: .2em; 
	padding-bottom: .4em;
	border-bottom: 2px solid rgba(255,255,255, 0.6);
	display: inline-block;
	font-size: 2.25em;
	font-weight: 600;
}

#landing header #subtitle {
	margin-bottom: 1em;
	font-size: 1.75em;
	font-weight: 200;
}

/* Header Text Style */
#landing header > * {
	color: #ffffff;
	text-align: center;
	line-height: 1.2em;
}

/* Header ID Styling - Landing Page */
#landing {
	/* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-image: url(../img/bck-img2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    border-bottom: .5px solid black;
}

.fa-arrow-down {
	color: white;
	font-size: 1.9em !important;
	padding: 0.5em 0em;
	text-align: center;
}

/* Content Section Label General Font Style */
.content_label {
	color: #405840;
	font-size: 2.25em;
	font-weight: 400;
	text-align: center;
}

hr { 
	padding-left: .5em;
	border-color: #727878; 
	width: 85%;
	opacity: 0.2;  
}

#about {
	display: block;
	margin-top: 2em;
	text-align: center;
/*	overflow: auto;*/
}

#experience {
	background-color: #efefef;
	display: block;
	text-align: center;
/*	overflow: auto;*/
}

.languages .col-6 {
	padding-top: 0;
	padding-bottom: 0;
}

#experience .col-4 p {
	font-size: .8em;
}

.edu-desc {
	text-align: center;
}

.edu-desc p {
	display: none;
}

.edu-desc p.show {
	display: block;
}

.edu-desc h6 {
	text-align: center;
	text-decoration: underline;
}

.edu-desc .degree{
	font-weight: 900;
	opacity: .8;
	font-style: italic;
}

.desc-drop {
	padding: 0em 0em 0em .5em;
}

#image_center img {
	display: inline;
	width: 100%;
	height: auto;
	vertical-align: middle;
	max-width: 125px;
	border: 10px solid rgba(239, 239, 239, 1);
}

#projects {
	height: 100%;
	display: block;
	text-align: left;
	overflow: auto;
}

#projects .row .col-4, .col-12 {
	overflow: auto;
}

#projects p span {
	padding: .5em 0em .5em 0em;
	font-weight: bold;
}

#projects .proj-info {
	text-align: left;
}

#projects .proj-info {
	display: none;
}

#projects .proj-info.show {
	display: inline-block;
}

#gameserver-btn, #portfolio-btn, #research-btn {
	margin: 0 auto;
	margin-top: 1em;
	display: block;
	max-width: 11em;
	background: #99CC99;
	background-image: -webkit-linear-gradient(top, #99CC99, #99CC99);
	background-image: -moz-linear-gradient(top, #99CC99, #99CC99);
	background-image: -ms-linear-gradient(top, #99CC99, #99CC99);
	background-image: -o-linear-gradient(top, #99CC99, #99CC99);
	background-image: linear-gradient(to bottom, #99CC99, #99CC99);
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	color: #ffffff;
	font-size: 1em;
	font-weight: 500;
	padding: .5em 1em .5em 1em;
	border: 1px solid #555;
	text-decoration: none;
	text-align: center;
}

#gameserver-btn:hover, #portfolio-btn:hover, #research-btn:hover {
  background: #90bd90;
  text-decoration: none;
}

#btn-group {
	margin: 0 auto;
}

#btn-group a {
	display: inline-block;
}

#exergame-btn {
	font-size: .75em;
	font-weight: 300;
	font-style: italic;
	margin: 0 auto;
	margin-top: 1em;
}

.contact {
	bottom: 0;
}

.contact a {
	text-decoration: none;
}

.contact a i{
	color: black;
	font-size:1.5em; 
    display: block;
    padding-bottom: .5em;
}

/*#about, #experience, #projects, #user-research, #user {
	padding: 5em 11em 2em 11em;
}*/

footer {
/*	position: relative;
	right: 0;
	bottom: 0;
	left: 0;*/
    overflow: auto;
	padding: 2em;
	//padding-top: 2em;
	background-color: #efefef;
	text-align: center;
}

#site-nav {
	height: 3em;
	width: 100%;
	z-index: 90; 
}

#nav_links {
	height: 100%;
	width: 100%;
	right: 0;
	padding: 0em 0em 0em 0em;
	border-bottom: 1px solid rgba(114, 120, 120, 0.2);
	text-align: center;
	background-color: #ffffff;
}

#nav_links ul {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}

#nav_links ul li {
	font-size: 1.13em;
	float: left;	
}

#nav_links ul li a {
	color: #222222;
	padding: .6em .6em .6em .6em;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	display: inline-block;
}

#nav_links ul li:not(:first-child) {
	display: none;
}

#nav_links ul li#hamburger-nav {
	float: right;
	display: inline-block;
	margin-right: 1em;
	padding: .6em .6em .6em .6em;
}

#nav_links.show {
	position: relative;
}

#nav_links.show ul {
	height: 15.3em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#nav_links.show ul li#hamburger-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#nav_links.show ul li {
	float: none;
	display: inline;
}

#nav_links.show ul li a {
	display: block;
	text-align: left;
}

/* User Research Specific Content Styling */
#findings-header {
	padding-top: 3em;
	padding-bottom: 0;
	text-align: center;
}

#findings-header h1 {
	font-size: 2.25em;
}

#findings-header a {
	text-decoration: none;
	color: #555;
	font-weight: 900;
	opacity: .8;
	margin: 0 auto;
}

#findings-header a span {
	margin-left: .2em;
}

#research_intro {
	margin-bottom: 1.5em;
}

.doc_info a img {
	max-width: 100%;
    height: auto;
	margin-top: .5em;
	border: 10px solid rgba(239, 239, 239, 1);
}

.doc_info a + p {
	font-size: .8em;
}

.user_test p + a {
	margin-right: .5em;
}

/* GRID LAYOUT */
/* Credit to W3Schools for reference on Responsive Grid Building */

.row {
	width: 100%;
}

/* Doesn't allow other elements to float into other columns */
.row:after {
	content: "";
	clear: both;
	display: block;
}

/* Set styling for all elements that have a class attribute containing the string "col-" */
[class*="col-"] {
	float: left;
	padding: .9em;
}

/* Mobile: Columns should span entire viewport */
[class*="col-"] {
	width: 100%;
}

.content {
	min-height: 600px;
	padding: 5em 11em 2em 11em;
}

@media screen and (max-width: 522px) {
/*	#about, #experience, #projects {
		padding: 5em 3em 2em 3em;
	}*/

	.content {
		padding: 5em 3em 2em 3em;
	}
}

@media screen and (min-width: 768px) {

	header {
		width: 50em;
		padding: 0em 11.25em 2.5em 11.25em;
	}

	#findings-header {
		padding-top: 3em;
		padding-bottom: 0;
		text-align: center;
	}

	#site-nav {
		height: 20em;
		width: 8em;
		position: absolute;
		display: block;
		top: 100%;
		right: 3%;
		border-left: 1.5px solid rgba(114, 120, 120, 0.5); 
		border-bottom: 1.5px solid rgba(114, 120, 120, 0.5);
		border-right: 1.5px solid rgba(114, 120, 120, 0.5);
		padding: 0;
		z-index: 90; 
	}

	#nav_links {
		height: 100%;
		width: 100%;
	}

	#nav_links ul {
		display: block;
		height: 100%;
	}

	#nav_links ul li{
		float: none;
		height: 20%;
	}

	#nav_links ul li a {
		margin: 0;
		padding: 0;
		border: none;
		color: #222222;
		text-decoration: none;
	}

	#nav_links ul > li:first-child {
		margin-right: 0;
		left: 0;
		padding-top: .25em;
		margin-bottom: -.3em;
		margin-top: 1em;
	}

	#nav_links ul li:last-child a {
		margin-left: 0;
		right: 0;
	}

	#nav_links ul li#hamburger-nav {
		display: none;
	}

	#nav_links ul li:not(:first-child) {
		display: block;
	}

	.edu-desc p {
		display: block;
	}

	.edu-desc p.hide {
		display: none;
	}

	#projects .proj-info {
		display: inline-block;
	}

	#projects .proj-info.hide {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#btn-group #portfolio-btn {
		margin-left: 30%;
	}
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
	body {
		font-size: 1.5em;
	}

	footer {
		display: inline-block;
		margin-top: 2em;
		width: 100%;
	}
}

@media screen and (min-width: 2534px) {
	body {
		font-size: 2.5em;
	}
}
