/* 
Design Influenced and Inspired by Pascal Van Gemert's Interactive Resume
http://www.pascalvangemert.nl/

CSS

For self-benefit separating CSS styling per selector into different rules based on intent 
ie. (Positioning & Font-styling == Different Rules) combine later. */

/* External Font from Google Fonts: Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	margin: 0 auto;
	//background: #FFFFCC;
}

/* Content Font Style */
body {
	color: #555; /* Lighter shade of black */
	font: normal 100% "Raleway", sans-serif, Arial;
	font-style: normal;
	font-weight: 300;
}

/* Content Text Spacing */
body {
	line-height: 1.5;
	padding: 0;
}

/* Differentiate Sections? */
.background-white {
	background: #ffffff;
}

/* Main Content Body Style */
main {
	display: block;
	max-width: 61.75em;
}

strong {
	font-size: 1em;
	font-weight: 2em;
}

h1 {
	text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: 250;
	color: #99CC99;
}

h5 {
	font-weight: bold;
}

i {
	margin: 0 auto;
}

/* Content Heading Spacing */
/*section h2 {
	margin-top: 1em;
	padding-top: 1em;
}*/

.content {
/*	max-width: 50em;
	margin: 0 auto;*/
/*	vertical-align: text-bottom;*/
	display: block;
}

/*#name {
	max-width: 500px;
	font-size: 3.5em;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: .5px solid #ffffff;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#subtitle {
	font-style: italic;
	font-size: 1.6em;
	font-weight: 300;
	position: absolute;
    top: 57%;
    left: 50%;
    margin-right: -50%;
    margin-top: 5px;
    transform: translate(-50%, -50%);
}*/

header {
	min-width: 300px;
	max-width: 100%;
	position: relative;
	top: 20%;
	padding: 0em 1.25em 4em 1.25em;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
	text-align: center;
}

#landing header #name {
	margin-top: 1.25em;
	margin-bottom: .2em; 
	padding-bottom: .4em;
	border-bottom: .5px solid rgba(255,255,255, 0.3);
	display: inline-block;
	font-size: 2.25em;
	font-weight: 600;
}

#landing header #subtitle {
	margin-bottom: 1em;
	font-size: 1.75em;
	font-weight: 200;
}

/* Header Text Style */
#landing header > * {
	color: #ffffff;
	text-align: center;
	line-height: 1.2em;
}

/* Header ID Styling - Landing Page */
#landing {
	/* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-image: url(assets/bck-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    border-bottom: .5px solid black;
}

.fa-arrow-down {
	color: white;
	font-size: 1.9em !important;
	padding: 0.5em 0em;
	text-align: center;
}

/*#self {
	max-width: 500px;
	height: auto;
	border-radius: 10%;
	border: 3px solid #399932;
	left: 50%;
	position: absolute;
}*/

/* Content Section Label General Font Style */
.content_label {
	font-size: 2.25em;
	font-weight: 400;
	color: #399932; /* Darker Shade of Black */
	text-align: center;
}

/*.content_label {
	margin-bottom: .1em;
}*/

/*#self_statement {
	margin-top: 0;
	padding-top: .8em;
}*/

hr { 
	margin: 1em 3em 1.5em 3em;
	border-color: #727878; 
	max-width: 25em;
	opacity: 0.2;  
}


/*#self_statement {
	text-align: center;
	font-weight: 150;
	font-style: italic;
}*/

/*#intro_brief {
	width: 45%;
	float: left;
}*/

/*#personal_brief {
	width: 45%;
	float: right;
}*/

#about {
	display: block;
	text-align: center;
	padding: 7em 4em 0em 4em;
/*	overflow: auto;*/
}

#image_center img {
	display: inline;
	width: 100%;
	height: auto;
	vertical-align: middle;
	max-width: 125px;
	border: 10px solid rgba(226, 226, 172, .6);
}

#scroll-down {
	width: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .45);
	text-align: center;
	z-index: 10;
}	

#nav_links {
	height: 3em;
	width: 100%;
	right: 0;
	padding: 0em 0em 0em 0em;
	border-bottom: 1px solid rgba(114, 120, 120, 0.2);
	z-index: 90; 
	text-align: center;
	background-color: #ffffff;
}

/*.mobile-nav div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.mobile-nav span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}
*/
/*#nav_links ul {
	display: none;
}*/

#nav_links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	border-bottom: .5px solid rgba(0,0,0,0.2);
}

#nav_links li {
	font-size: 1.13em;
	//height: 70px;
	float: left;
}

#nav_links li a {
	color: #222222;
	padding: .6em .6em .6em .6em;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	display: inline-block;
}

#nav_links li:not(:first-child) {
	display: none;
}

#nav_links li#hamburger-nav {
	float: right;
	display: inline-block;
	margin-right: 1em;
	padding: .6em .6em .6em .6em;
}

#nav_links.toggle {
	position: relative;
}

#nav_links.toggle li#hamburger-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#nav_links.toggle li {
	float: none;
	display: inline;
}

#nav_links.toggle li a {
	display: block;
	text-align: left;
}

/*.expand {
	display: block !important; 
}*/

/* GRID LAYOUT */
/* Thank you W3Schools! */

.row {
	width: 100%;
	text-align: center;
}

/* Doesn't allow other elements to float into other columns */
.row:after {
	content: "";
	clear: both;
	display: block;
}

/* Set styling for all elements that have a class attribute containing the string "col-" */
[class*="col-"] {
	float: left;
	padding: 15px;
	//border: 1px solid red;
}

/* Mobile: Columns should span entire viewport */
[class*="col-"] {
	width: 100%;
}

/* W3Schools Column Styling and AlineApart */
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

/*@media screen and (min-width: 600px) {*/

	/* Specifying columns and porition of screen they should be contained 
}*/

@media screen and (min-width: 640px) {
	#nav_links ul li#hamburger-nav {
		display: none;
	}

	#nav_links ul {
		display: inline-block;
		border-bottom: none;
		height: 100%;
	}

	#nav_links ul li:not(:first-child) {
		display: block;
	}

	#nav_links ul li {
		font-size: 1.13em;
		float: left;
	}

	#nav_links ul li a {
		color: #222222;
		margin-left: 0;
		border-right: .5px solid rgba(114, 120, 120, 0.2);
		text-decoration: none;
		display: inline-block;
	}

	#nav_links ul li:first-child {
		margin-left: -.5em;
	}

	#nav_links ul li:nth-child(4) a {
		border-right: none;
		margin-left: 0;
	}
}

@media screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

/*	header {
		top: 20%;
		width: 800px;
		padding: 2.5em 11.25em 2.5em 11.25em;
	}*/

	.content {
		margin-top: 0;
	}

	#landing header #name {
		font-size: 4em;
	}

	#landing header #subtitle {

	}
/*	header {
	min-width: 300px;
	max-width: 100%;
	position: relative;
	top: 20%;
	padding: 0em 1.25em 4em 1.25em;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
	text-align: center;
	}

	#landing header #name {
		margin-top: 1.25em;
		margin-bottom: .2em; 
		padding-bottom: .4em;
		border-bottom: .5px solid rgba(255,255,255, 0.3);
		display: inline-block;
		font-size: 2.25em;
		font-weight: 600;
	}

	#landing header #subtitle {
		margin-bottom: 1em;
		font-size: 1.75em;
		font-weight: 200;
	}*/

	#scroll-down {
		height: 5em;
		width: 8em;
		right: 5%;
	}

	#nav_links {
		height: 13em;
		width: 8em;
		position: absolute;
		display: block;
		top: 100%;
		right: 5%;
		border-left: 1.5px solid rgba(114, 120, 120, 0.5); 
		border-bottom: 1.5px solid rgba(114, 120, 120, 0.5);
		border-right: 1.5px solid rgba(114, 120, 120, 0.5);
		padding: 0;
	}

	#nav_links ul {
		display: block;
		height: 100%;
	}

	#nav_links ul li{
		float: none;
		height: 25%;
	}

	#nav_links ul li a {
		margin: 0;
		padding: 0;
		border: none;
		color: #222222;
		text-decoration: none;
		transition: 1s;
	}

	#nav_links ul li a:hover {
		text-decoration: underline;
	}

	#nav_links ul > li:first-child {
		margin-right: 0;
		left: 0;
		padding-top: .25em;
		margin-bottom: -.3em;
		margin-top: 1em;
	}

	#nav_links ul li:last-child a {
		margin-left: 0;
		right: 0;
	}
}

@media screen and (min-width: 992px) {
}